.form {
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 20px;
}

.field {
  max-width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
}

.button {
  background-color: rgb(181, 19, 181);
  color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
}
